<% @videos.each do |video| %>

<div class ='thumbnail-holder'>
  <a href="/videos/<%=video['id']%>"><img src="http://img.youtube.com/vi/<%=video['url']%>/mqdefault.jpg" alt="<%= video['title'] %>"></a>

  <p><a href="/videos/<%=video['id']%>"><%= video['title'] %></a></p>
</div>

<% end %>
